/* Gerais */
.bodytext 					{ font-family:Calibri; font-size: 15px; background:none;}
.containermenu				{ margin:0 auto; width:960px; height:30px; text-align:center; border:none; vertical-align:middle;}
.textomenu					{ padding:0;width:960px;height:30px;text-align:center;}
.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul :hover ul :hover ul { left:0px; top:-4px; background: #fff; padding:3px; white-space:nowrap; width:90px; z-index:400; height:auto;}

/* Menu - Links */
.menu 						{ padding:0; margin:0; list-style:none; height:30px; background:none; position:relative; z-index:500; display:inline;}
.menu li.top 				{ display:block; float:left; text-align:left; border: none; border-right:1px solid #FFF; background:#085491; background: -webkit-gradient(linear, left top, left bottom, from(#00B5CB), to(#085491));background: -moz-linear-gradient(top,  #00B5CB,  #085491);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B5CB', endColorstr='#085491');background: -ms-linear-gradient(top,  #00B5CB, #085491);background: -o-linear-gradient(top,  #00B5CB, #085491);}	
.menu li.first				{ display:block; float:left; text-align:left; border: none; border-right:1px solid #FFF;  background:#085491; background: -webkit-gradient(linear, left top, left bottom, from(#00B5CB), to(#085491));background: -moz-linear-gradient(top,  #00B5CB,  #085491);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B5CB', endColorstr='#085491');background: -ms-linear-gradient(top,  #00B5CB, #085491);background: -o-linear-gradient(top,  #00B5CB, #085491); -webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.menu li.toplast			{ display:block; float:left; text-align:left; border-right: none;  background:#085491; background: -webkit-gradient(linear, left top, left bottom, from(#00B5CB), to(#085491));background: -moz-linear-gradient(top,  #00B5CB,  #085491);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B5CB', endColorstr='#085491');background: -ms-linear-gradient(top,  #00B5CB, #085491);background: -o-linear-gradient(top,  #00B5CB, #085491);-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.menu li a.top_link 		{ display:block; float:left; height:30px; line-height:30px; color:#FFF; text-decoration:none; padding:0; cursor:pointer; padding:0 25px 0 26px;}

/* Menu - Links - Hover */
.menu li.top:hover 			{ color:#FFF; background:#979799;}
.menu li.first:hover 		{ color:#FFF; background:#979799;-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.menu li.toplast:hover		{ color:#FFF; background:#979799;-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}

/* Menu - Home */
.menu img	{ margin:5px 0 0 0;}

/* Menu */
.menu table 		{ width:0; height:0; position:absolute; top:0; left:0;}
.menu a:hover 		{ visibility:visible; position:relative; z-index:200;}
.menu li:hover 		{ position:relative; z-index:200;}
.menu ul, 
.menu :hover ul ul, 
.menu :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul { position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

/* Submenu */
.menu :hover ul.sub 				{left:0; top:22px; background:#FFF;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:10px 20px 20px 0px; border:none; white-space:nowrap; width:250px; height:auto; z-index:300;}
.menu :hover ul.sub li 				{display:block; height:22px; position:relative; float:left; width:160px; font-weight:normal;border: none;}
.menu :hover ul.sub li a 			{display:block; font-size:14px; height:20px; width:250px; line-height:16px; text-indent:10px; color:#999; text-decoration:none; padding:7px 0 0 0;font-family:Helvetica;}
.menu :hover ul.sub li a:hover 		{color:#F06477; padding:7px 0 0 0;-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;transition-duration: 0.5s;}
.menu :hover ul.sub li a.fly:hover 	{color:#fff;}
.menu :hover ul li:hover > a.fly 	{color:#fff;}